# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Environment variables
.env

# OS files
.DS_Store

dummy/incoming_data.csv
dummy/training_data.csv

data/

